header {
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

h1 {
    padding-top: 2em;
}

.contentContainer {
    background-color: lavender;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.containerLeft {
    display: flex;
    flex-basis: 77%;
    flex-direction: column;
}

.fish_card {
    display: flex;
    flex-direction: column;
    background-color: lightseagreen;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 500px;
    height: auto;
    padding: 50px;
}

.fishList {
    display: flex;
    flex-wrap: wrap;

}

.fish__image {
    width: 400px;
    height: 200px;
    border-radius: 10%;
}

.containerLeft__travelQuotes {
    display: flex;
    background: mediumorchid;
    padding-top: 2em;
}

.containerLeft__travelLocations {
    display: flex;
    background-color: mediumpurple;
    padding-top: 2em;
}



aside {
    flex-basis: 23%;
}

.containerRight {
    margin-top: 3em;
}



li {
    padding-top: 2em;
}

h3 {
    text-align: center;
}


footer {
    text-align: center;
    margin: 3em;
}
